<!DOCTYPE html>
<html lang="lt">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NT</title>
        <link rel="stylesheet" href="/src/styles/main.scss" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
        <script type="module" src="/src/pages/estate.js" defer></script>
    </head>
    <body class="page">
        <header class="header">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/index.html" class="nav__link">Pagrindinis</a></li>
                    <li class="nav__item"><a href="/views/flats.html" class="nav__link">Butai</a></li>
                    <li class="nav__item"><a href="/views/houses.html" class="nav__link">Namai</a></li>
                    <li class="nav__item"><a href="/views/sites.html" class="nav__link">Sklypai</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <div id="estate-detail">
                <div id="loader" class="loader">Kraunama...</div>
            </div>
        </main>
    </body>
</html>
